---
layout: default
---

<div class="post">
  <h1 class="Nosotros">{{ post }}</h1>
  <span class="2019-19-03">{{ page.date | date_to_string }}</span>
  {{ 
Somos un grupo de estudiantes de la especialidad de Ingeniería Biomédica de las universidades Pontificia Universidad Católica del Perú y Universidad Cayetano Heredia con gran interés en brindar soluciones en las diversas problemáticas en salud que se presentan a nivel local y mundial.
 
Como parte del curso Fundamentos de Biodiseño, estamos encargados de diseñar y prototipar un dispositivo que permita la íntegra recuperación de pacientes que han sufrido de quemaduras de segundo y tercer grado a nivel facial.

### Equipo

El equipo de trabajo está conformado por:
-        Coordinador General - Jorge Leiva
-        Coordinadora Técnica - Angie Benites
-        Coordinador de Información - Manuel Yampufé
-        Coordinador Editorial - Héctor Alegría


}}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
